.App {
  text-align: center;
}
.Stopwatch{
  border:solid;
  width :400px;
  background-color: #a8d4c3;
}
button {
  background-color: #333320;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
}
button:hover {
  background-color: #10a36b;
}
.Stopwatch button {
  padding: 12px 32px;
  font-size: 20px;
}
.display {
  padding: 40px 0;
  font-size: 48px;
}

